*{
    margin:0;
    padding:0;
}

body{
    margin:auto;
}
.wrapper{
    /* border: 2px solid red; */
    height: 260px;
    display: flex;
    justify-content: center;
    padding:20px;
    width: 100%;
    flex-wrap: wrap;
    height: auto;
}

.box{
    border:1px solid black;
    width: 200px;
    /* padding:20px; */
    box-shadow: 5px 5px rgb(173, 171, 171);
    margin:10px;
    border-radius: 10px;
}

.content img{
    position: relative;
    width: 100%;
    border-radius: 10px;
}

.content{
    /* padding: 20px; */
    align-items: center;
    display: flex ;
    flex-direction: column;
    justify-content: space-evenly;
}

.content p{
    text-align: center;
}

.content img.logo{
    width: 124px;
    height: 50px;
    margin: -8px;

}





